@media (max-width: 751px){
    .center-text{
        text-align: center !important;
    }
}
@media(max-width: 769px){
    .img-name{
        margin: 0 auto;
    }
    .center-text{
        text-align: center !important;
    }
}

.card-deck{
    box-shadow: 3px 3px 13px gray;
    transition: all 1.5s;
    cursor: pointer;
}

.card-deck:hover{
    transform: rotate3d(1,0,0,-30deg) scale(1.15);

}

.feedback{
    font-family: Poppins;
    font-weight: 800;
    animation: float 1s ease-in-out infinite;
}
    
@keyframes float{
    50%{
        transform: scale(1.11);
    }
}

.center-text h5{
    color: rgb(255, 17, 215);
}

.center-text h6{
    color:  rgb(119, 82, 189);
}