.special-bg{
    position: relative;
    width: 100%;
    height: fit-content;
    left: 0px;
    top: -8.53px;
    /* z-index: -50; */
    padding: 25px;
    background: #FBD062;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}
.special-bg:after{
    content: '';
    background-color: #fff;
    display: block;
    width: 110%;
    height: 125px;
    left: 0;
    position: absolute;
    right: 0;
    bottom: -47px;
    transform: rotate(-4deg);
}